*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Cal Sans";
}

/* .page{
    overflow-x: hidden;
    width: 100vw;
} */

.landing{
    background-image: url("/images/SL-072622-51930-20.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.navbar{
    width: 90%;
    height: 8%;
    padding: 1%;
    backdrop-filter: blur(2px);
    border: 2px solid #8e8e8e;
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
    border-radius: 10px;
    align-items: center;
    box-shadow: 0 0 10px #c2c2c2;
}

.navBtns{
    height: 100%;
    width: 35%;
    display: flex;
    justify-content: space-evenly;
    align-self: center;
}

.navBtns span{
    height: 100%;
    padding: 0 2%;
    cursor: pointer;
    border-top: 2px solid transparent;
    border-bottom: 2.5px solid transparent;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.navBtns span:hover{
    border-bottom-color: black;
}

.landingContent{
    width: 80%;
    height: 85%;
    display: flex;
}

.leftSection, .rightSection{
    width: 50%;
    height: 100%;
}

.leftSection{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.leftSection div{
    display: flex;
    flex-direction: column;
}

.leftSection div span{
    cursor: default;
}

.leftSection div span:nth-child(2){
    font-size: 150px;
    line-height: 120%;
    width: fit-content;
    background-color: black;
    color: white;
    padding: 0 2%;
    margin: 2% 0%;
    border-radius: 5px;
}

.leftSection div span:nth-child(1), .leftSection div span:nth-child(3){
    font-size: 50px;    
}

.leftSection button{
    width: 15%;
    height: 5%;
    border: 2px solid black ;
    backdrop-filter: blur(2px);
    background-color: transparent;
    margin-top: 3%;
    cursor: pointer;
    transition: 0.3s;
    font-size: 15px;
}

.leftSection button:hover{
    background-color: black;
    color: white;
}

.rightSection{
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightSection img{
    width: 1000px;
    height: 750px;
}

.scrollDown{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scrollDown img{
    width: 60px;
    height: 60px;
    transform: rotate(180deg);
}

.warehouses{
    width: 100%;
    height: 100vh;
    background: #fff ;
    color: white;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    padding: 2% 0;
    background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgb(17, 17, 17) 100%);
}

.warehousesDiv{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.extraWHinfo{
    display: flex;
    width: 100%;
    height: 10%;
    font-size: 15px;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5%;
}

.extraWHinfo span{
    font-size: 45px !important;
    /* filter: drop-shadow(0 0 55px white); */
}

.extraWHinfo button{
    width: 15%;
    height: 60%;
    border: 2px solid white ;
    backdrop-filter: blur(2px);
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s;
    font-size: 15px;
    color: white;
}

.extraWHinfo button:hover{
    color: black;    
    background-color: white;
}

.warehouse{
    width: 100%;
    height: 80%;
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wh{
    height: 100%;
    padding: 2%;
    background-color: #ffffff0d;
    border: 1px solid white;
}

.wh:nth-child(1){
    width: 74%;
    background-image: url("https://cms.ar-racking.com/uploads/2020/06/2023-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
}

.wh:nth-child(2){
    width: 25%;
}

.whDetails{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.whDetails div{
    width: 100%;
}

.whDetails div:nth-child(1){
    font-size: 45px;
    margin-bottom: 5%;
}

.whDetails div:nth-child(2){
    font-size: 20px;
}

.metrics{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5% 0;
}

.m1{
    margin-top: 15% !important;
}

.m4{
    margin-bottom: 15% !important;
}

.price{
    margin-top: 32%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid white;
    font-size: 18px;
}

.price span:nth-child(1){
    width: 65%;
}

.price span:nth-child(2){
    height: 60%;
    width: 35%;
}

.price button{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.price button:hover{
    background-color: white;
    color: black;
}

.location{
    font-size: 20px;
}

.features{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(images/9517d01d-7535-4e2b-aef0-067fb0269650.jpg);
    background-size: cover ;
    background-repeat: no-repeat;
}

.f{
    width: 90%;
    height: 100%;
    margin: 2% 0;
}

.section span:nth-child(1){
    font-size: 18px;
    margin-bottom: 1%;
    text-transform: uppercase;
}

.section span:nth-child(2){
    font-size: 45px;
    margin-bottom: 1%;
}

.section{
    display: flex;
    flex-direction: column;
}

.feature{
    width: 100%;
    height: 85%;
}

.f1, .f2{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.f1 section, .f2 section{
    width: 30%;
    height: 80%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    backdrop-filter: blur(2px);
}


.feature2{
    color: white !important;
    background-color: #000 !important;
    background-image: none;
}

.wimage{
    width: 50%;
    height: 100%;
    padding: 2% 0;
}

.wimage img{
    width: 100%;
    height: 100%;
}

.wthings{
    width: 50%;
    height: 100%;
    padding: 2% 0;
}

.features2{
    display: flex;
}

.things{
    width: 100%;
    height: 90%;
    padding: 0 5%;
}

.thing{
    height: 20%;
    width: 100%;
    padding: 0 2%;
    border: 1px solid white;
    margin-bottom: 4%;
    display: flex;
    align-items: center;
}

.wthingsbtn{
    padding: 0 5%;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: end;
}

.wthingsbtn button{
    padding: 1% 2%;
    height: 70%;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    border: 2px solid white;
    font-size: 14px;
}

.wthingsbtn button:hover{
    color: black;
    background: white;
}

.feat h1{
    font-size: 25px;
}

.feat span{
    font-style: 20px;
}

.coldStorage{
    color: black !important;
    background-image: url(/images/wgrid.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cs .wh{
    height: 100%;
    width: 30%;
    padding: 2%;
    background-color: #ffffff0d;
    border: 2px solid black;
    backdrop-filter: blur(2px);
}

.topImg{
    width: 100%;
    height: 40%;
    margin-top: 0 !important;
}

.topImg img{
    width: 100%;
    height: 100%;
}

.price2{
    margin-top: 0% !important;
    border-color: black !important;
    border-width: 2px;
}

.warehouseName{
    font-size: 30px !important;
}

.m11, .m44{
    margin: 0;
}

.m44{
    margin-bottom: 1%;
}


.wareHouseDesc{
    margin-bottom: 2%;
}


#specbtn{
    background-color: transparent;
    color: black !important;
    border-color: black;
    border-width: 2px;
}

#specbtn:hover{
    background-color: #000;
    color: white !important;
}

.specwh{
    transform: scale(1.05);;
}

.reviews{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 2% 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgb(17, 17, 17) 100%);
}

.contain{
    width: 90%;
    height: 100%;
}

.loldiv{
    width: 100%;
    height: 50%;
    padding: 2% 0;
    display: flex;
    align-items: center;
}

.loldiv:nth-child(1){
    border-bottom: 2px dashed white ;
}

.cDiv{
    padding: 0 !important;
    width: 100% !important;
    height: 100% !important;
    justify-content: center;
    display: flex;
}

.cDiv:nth-child(1){
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0 !important;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.cDiv h1{
    margin: 2% 0;
    font-size: 40px;
}

.cDiv span{
    text-transform: uppercase;
    font-size: 18px;
}

.cDiv div{
    width: 100%;
    display: flex;
}

.cDiv div img{
    border: 1px solid white;
    margin-right: 1%;
    margin-top: 2%;
}

.cDiv:nth-child(2) img{
    height: 100%;
}

.kekw{
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.review{
    width: 100%;
    height: 50%;
    display: flex;
    margin-top: 0.5%;
    align-items: center;
}

.review div{
    width: 25%;
    height: 100%;
    padding: 1%;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 2%;
}

.review div p{
    font-size: 16px;
    margin-bottom: 10%;
}

.lolz{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lolz span{
    text-transform: uppercase;
}

.review div section{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}